/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */

.recipe-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.recipe-details .coverImage {
  width: 100px;
  height: 100px;
}

.recipe-details .coverImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.recipe-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #1aac83;
}
.recipe-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.recipe-details .delete {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.recipe-details .edit {
  position: absolute;
  top: 70px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
/* new recipe form */

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.addListItem :hover {
  cursor: pointer;
}

.addListItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 2rem;
}

.addText {
  text-decoration: underline;
}

form li {
  display: flex;
  justify-content: center;
  list-style-type: circle;
}

.trash {
  height: 100%;
}

form .save {
  background: #1aac83;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
  cursor: pointer;
}

form .cancel {
  margin-left: 1rem;
  background: transparent;
  border: 1px solid #1aac83;
  color: #1aac83;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid #e7195a;
  color: #e7195a;
  border-radius: 4px;
  margin: 20px 0;
}
input.error,
.addListItem .error {
  border: 1px solid #e7195a;
}
